/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* PAGE */
body {
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* APP CONTAINER */


/* TITLE */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* FORM */
form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-color: #4f46e5;
}

/* ADD BUTTON */
button {
  padding: 8px 12px;
  border: none;
  background-color: #4f46e5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #4338ca;
}

/* TODO LIST */
ul {
  list-style: none;
}

/* TODO ITEM */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 8px 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  font-size: 14px;
}

/* DELETE BUTTON */
li button {
  background-color: #ef4444;
  padding: 5px 8px;
  font-size: 12px;
}

li button:hover {
  background-color: #dc2626;
}

/* EMPTY TEXT */
p {
  text-align: center;
  color: #999;
  font-size: 14px;
}
