/* Light və Dark theme üçün dizayn */
.light {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  padding: 20px;
  transition: all 0.3s ease;
}

.dark {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding: 20px;
  transition: all 0.3s ease;
}

/* ThemeBox dizaynı */
.theme-box {
  border: 2px solid currentColor;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}
